<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191655029730-7o9to80pj3ogvbltftgnsnlnk59fpao6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191655029730-7o9to80pj3ogvbltftgnsnlnk59fpao6</string>
	<key>API_KEY</key>
	<string>AIzaSyDCnRaVRnCf-Tu2735GQhGMeblq1jV4xNY</string>
	<key>GCM_SENDER_ID</key>
	<string>191655029730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irtiza.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-815ea</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-815ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191655029730:ios:bff30767d3cccb03</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-815ea.firebaseio.com</string>
</dict>
</plist>